<app-formulario (callParent)="onCallParent($event)"></app-formulario>

<div fxLayout="row" fxLayoutWrap fxLayoutGap="100px" style="margin-left: 20px;">
    <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let item of products">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{item.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list role="list">
                <mat-list-item *ngIf="item.private" role="listitem"><strong>Privado?: Sim</strong></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item *ngIf="!item.private" role="listitem"><strong>Privado?: Não</strong></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem"><strong>Url Usuario: </strong> {{item.owner.html_url}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem"><strong>Tipo Usuario: </strong>{{item.owner.type}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem"><strong>Url do Repositorio: </strong> {{item.html_url}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem"><strong>Data de Criação: </strong>
                    {{item.created_at | date: 'dd/MM/yyyy H:MM'}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem"><strong>Data da Ultima Atualização: </strong>
                    {{item.updated_at | date: 'dd/MM/yyyy H:MM'}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem"><strong>Tamanho do Repositorio: </strong> {{item.size}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem"><strong>Linguagem Predominante: </strong> {{item.language}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem"><strong>Branch Principal: </strong> {{item.default_branch}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem"><strong>Quantidade de Forks: </strong> {{item.forks_count}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem"><strong>Licensa: </strong> {{item.license}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem"><strong>Descrição: </strong> {{item.description}}</mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>